.monthStatsTable {
  text-align: center;
  padding: 20px;
  background-color: #f0f4ff;
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.paginator button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #5c77ff;
  padding: 0 10px;
  position: relative;
  margin-bottom: 7px; 
}



.paginator button::before {
  content: '';
  display: inline-block;
  width: 8px; 
  height: 8px; 
  border-top: 1.5px solid #5c77ff; 
  border-right: 1.5px solid #5c77ff; 
  position: absolute;
  transform: rotate(45deg);
}

.paginator button:first-of-type::before {
  left: 5px;
  transform: rotate(225deg); 
}

.paginator button:last-of-type::before {
  right: 5px;
}

.paginator span {
  font-size: 20px;
  font-weight: bold;
  color: #5c77ff;
}

.daysList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
}

.dayBlock {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  transition: border-color 0.3s;
}

.incomplete {
  border-color: #FF9D43;
}

.dayNumber {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}

.dayPercentage {
  font-size: 12px;
  color: #5c77ff;
}
