/* ul {
  list-style-type: disc;
} */
/* 
ul li::marker {
  width: 8px;
  height: 8px;
  color: #407bff;
} */

.divWhyDrinkWater {
  border-radius: 10px;
  height: 416px;
  background-color: #ecf2ff;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.iconText {
  height: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 8px;
}

.iconTextMod {
  height: 40px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 8px;
  /* flex-wrap: wrap; */
  align-items: center;
  text-align: left;
  justify-content: start;
}

.heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
}

.iconSvg {
  display: block;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
}

.listItems {
  font-size: 16px;
  font-weight: 400;
}

.iconParagraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  flex-wrap: wrap;
}
