.divWaterConsumptionTracker {
  height: 384px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.divTitle {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 140px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 114%;
}

.subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
}

.trackerBenefits {
  height: 160px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.headOfSubsections {
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
}

.divSubsections {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.iconText {
  height: 32px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 8px;
}

.icon {
  padding: 4px;
}
.iconSizeWrap {
  fill: #407bff;
}

.btn {
  width: 280px;
  height: 36px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #407bff;
}
