.containerMain {
  margin: 0 auto;
  height: 258px;
  width: 264px;
}

.name {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  text-align: left;
  font-weight: bold;
  color: #2f2f2f;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}

.containerList {
  width: 254px;
  display: flex;
  flex-direction: column;
  /* padding-bottom: 12px; */
}

.entries {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.iconGlass {
  width: 17px;
  height: 22px;
}
.amount {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  color: #407bff;
}

.time {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: #2f2f2f;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-items: end; */
  /* width: 50px; */
  /* margin-left: 38px; */
  gap: 18px;
  /* margin-bottom: 12px; */
  /* margin-top: 0px; */
}
.iconPencil {
  width: 14px;
  height: 12px;
  fill: transparent;
  stroke: #9ebbff;
}

.iconTrash {
  width: 12px;
  height: 12px;
  fill: transparent;
  stroke: #ef5050;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 38px;
  width: 254px;
  height: 38px;
  /* margin: 12px 0; */
  border-bottom: 1px solid #d7e3ff;
  padding: 4px;
}

.containerBtn {
  display: flex;
  justify-content: left;
  width: 97px;
  height: 20px;
  margin-top: 12px;
  /* margin-bottom: 24px; */
}

.btn {
  cursor: pointer;
  color: #407bff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.iconBtn {
  width: 10px;
  height: 10px;
}

.scrollContainer {
  display: block;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  color: rgba(#d7e3ff, #9ebbff);
}

.scrollContainer::-webkit-scrollbar-track {
  height: 170px;
  width: 2px;
  background-color: #d7e3ff;
  border-radius: 8px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: #9ebbff;
  border-radius: 8px;
  width: 4px;
  height: 100px;
}

@media screen and (min-width: 768px) {
  .containerMain {
    height: 260px;
    width: 656px;
  }

  .name {
    font-size: 26px;
    line-height: 1.23077;
  }
  .containerList {
    width: 646px;
    /* height: 36px; */
  }
  .containerBtn {
    width: 114px;
    height: 24px;
  }
  .btn {
    font-size: 18px;
    line-height: 1.33;
  }
  .iconBtn {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }

  .list {
    width: 646px;
    height: 36px;
  }
  .iconPencil {
    width: 16px;
    height: 16px;
  }

  .iconTrash {
    width: 16px;
    height: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .containerMain {
    width: 544px;
  }

  .containerList {
    width: 534px;
  }

  .list {
    width: 524px;
  }
}
