.container {
  margin: 0 auto;
}

.name {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  font-weight: bold;
  color: #2f2f2f;
}

.containerList {
  display: flex;
  width: 254px;
  height: 26px;
  align-items: center;
}
.amountAndTime {
  width: 161px;
  display: flex;
  gap: 12px;
  margin-right: 38px;
}
.iconGlass {
  width: 17px;
  height: 22px;
}
.amount {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  color: #407bff;
}

.time {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: #2f2f2f;
}
.icons {
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: space-between;
}
.iconPencil {
  width: 14px;
  height: 12px;
}

.iconTrash {
  width: 12px;
  height: 12px;
}

.list {
  display: flex;
  flex-direction: row;
}

.line {
  border: 1px solid #d7e3ff;
  width: 254px;
  height: 0px;
  margin: 12px 0;
}
.containerBtn {
  display: flex;
  justify-content: space-between;
  width: 97px;
  height: 20px;
  margin-top: 12px;
}

.btn {
  cursor: pointer;
  color: #407bff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.iconBtn {
  width: 10px;
  height: 10px;
}

.scrollContainer {
  max-height: 200px;
  overflow-y: auto;
}

.scrollContainer::-webkit-scrollbar-track {
  height: 170px;
  width: 2px;
  background: #d7e3ff;
  border-radius: 8px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background: #9ebbff;
  border-radius: 8px;
  width: 4px;
  height: 100px;
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 26px;
    line-height: 1.23077;
  }
  .containerList {
    width: 646px;
    height: 36px;
  }
  .amountAndTime {
    width: 206px;
    gap: 16px;
    margin-right: 390px;
  }

  .line {
      width: 646px;
  }
  .containerBtn {
    width: 114px;
    height: 24px;
  }
  .btn {
      font-size: 18px;
  }
  .iconBtn {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .containerList {
    width: 534px;
  }
  .amountAndTime {
    margin-right: 278px;
  }
  .line {
    width: 534px;
  }

}


