.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

/* Desktop (1440px) */
@media (min-width: 1440px) {
  header {
    padding: 12px 112px 0px 112px;
    max-width: 1440px;
  }
}

/* Tablet (768px) */
@media (min-width: 768px) and (max-width: 1439px) {
  header {
    padding: 16px 32px 0px 32px;
    max-width: 768px;
  }
}

/* Mobile (280px) */
@media (max-width: 767px) {
  header {
    padding: 8px 20px 0px 20px;
    max-width: 320px;
  }
}
