*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  background-image: url(../../img/homeScreenImg/BottleMob1x-min.png), url(../../img/homeScreenImg/BackgroundMob1x-min.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center 54px, center;
  background-size: contain, cover;
  max-width: 320px;
  margin-top: 52px;
  margin: 0 auto;
}

@media (min-resolution: 2dppx) {
  .container {
      background-image: url(../../img/homeScreenImg/BottleMob2x-min.png), url(../../img/homeScreenImg/BackgroundMob2x-min.png)
  }
}

.dailyNorma {
  position: relative;
  top: -28px;
  margin-bottom: 232px;
  border: 1px solid #ecf2ff;
  border-radius: 10px;
  padding: 8px 17px;
  width: 164px;
  height: 74px;
  box-shadow: 0 4px 8px 0 rgba(158, 187, 255, 0.12);
  background: #fff;
}

.waterRatioPanel {
  margin-bottom: 40px;
}

.listAndTable {
  border-radius: 10px;
  padding: 24px 8px;
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
  background: #ecf2ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .container {
    background-image: url(../../img/homeScreenImg/BottleTabl1x-min.png), url(../../img/homeScreenImg/BackgroundTab1x-min.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center 16px, center;
    background-size: 518px 386px, cover;
    max-width: 768px;
  }

    @media (min-resolution: 2dppx) {
      .container {
        background-image: url(../../img/homeScreenImg/BottleTabl2x-min.png), url(../../img/homeScreenImg/BackgroundTab2x-min.png)
      }
    }

  .dailyNorma {
    top: 0;
    margin-bottom: 326px;
    height: 76px;
  }

  .listAndTable {
    padding: 32px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    background-image: url(../../img/homeScreenImg/BottleDesktop1x-min.png), url(../../img/homeScreenImg/BackgroundDesktop-min.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, center;
    background-size: 738px 548px, cover;
    max-width: 1440px;
    padding: 20px 112px 40px 112px;
    position: relative;
  }

    @media (min-resolution: 2dppx) {
      .container {
        background-image: url(../../img/homeScreenImg/BottleDesktop2x-min.png), url(../../img/homeScreenImg/BackgroundDesktop2x-min.png)
      }
    }

  .dailyNorma {
    margin-top: 30px;
    margin-bottom: 466px;
  }

  .waterRatioPanel {
    width: 592px;
    margin-bottom: 0;

  }

  .listAndTable {
    position: absolute;
    top: 0;
    right: 112px;
    width: 592px;
  }
}
