*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.homePage {
  background-image: url('../../img/home-screen_img/backgroundElementHomeSscreen-mob-1x.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

@media (min-resolution: 2dppx) {
  .homePage {
    background-image: url('../../img/home-screen_img/backgroundEelementHomeScreen-mob-2x.jpg');
  }
}
